@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3{
  font-family: var(--font-bowlby-sc), sans-serif;
}

@layer base {
    :root {
        --font-bowlby-sc: "Bowlby One SC", sans-serif;
        --font-dm-mono: "DM Mono", monospace;
        --brand-pink: #f7d0e9;
        --brand-blue: #4876ff;
        --brand-navy: #2e3192;
        --brand-verdigris: #00AFB9;
        --brand-amber: #FFBE0B;
        --brand-orange: #ff7347;
        --brand-light-orange: #FFBE0B;
        --brand-purple: #692e54;
        --brand-gray: #F5F5F5;
        --brand-medium-gray: #3a3c3d;
        --brand-light-gray: #e8e7e7;
    }
}

@layer utilities {
    .bg-header {
        background-image: url("/city.webp");
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
    }

    .bg-texture {
      background-image: url("/bg-texture.webp");
      background-size: 720px 460px;
      background-repeat: repeat;
      background-position: center;
    }
    
}

.button-cutout {
    border-radius: 20px;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease; /* Optionnel pour un effet de transition fluide */
  }

  .stack-layout {
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
  }
  
  .stack-layout > * {
    grid-area: stack;
  }
  
  .skater-scribble-path {
    opacity: 0.8;
    stroke-dasharray: 2300;
    stroke-dashoffset: -2300;
    transition: stroke-dashoffset 1s ease-in-out 0.2s;
    transform-origin: center center;
  }
  
  .skater:hover .skater-scribble-path {
    stroke-dashoffset: 0;
  }
  
  .slide-in-hidden {
    opacity: 0;
    transform: translateX(-100px);
  }
  
  @keyframes slide-in {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  
  