@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h2, h3{
  font-family: var(--font-bowlby-sc), sans-serif;
}

@layer base {
    :root {
        --font-bowlby-sc: "Bowlby One SC", sans-serif;
        --font-dm-mono: "DM Mono", monospace;
        --brand-pink: #f7d0e9;
        --brand-blue: #4876ff;
        --brand-navy: #2e3192;
        --brand-verdigris: #00AFB9;
        --brand-amber: #FFBE0B;
        --brand-orange: #ff7347;
        --brand-light-orange: #FFBE0B;
        --brand-purple: #692e54;
        --brand-gray: #F5F5F5;
        --brand-medium-gray: #3a3c3d;
        --brand-light-gray: #e8e7e7;
    }
}

@layer utilities {
    .bg-header {
        background-image: url("/city.webp");
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
    }

    .bg-texture {
      background-image: url("/bg-texture.webp");
      background-size: 720px 460px;
      background-repeat: repeat;
      background-position: center;
    }
    
}

.button-cutout {
    border-radius: 20px;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease; /* Optionnel pour un effet de transition fluide */

    
    /* &::before {
      position: absolute;
      top: 0;
      right: calc(100% - 1px);
      content: "";
      background: inherit;
      width: 1rem;
      height: 100%;
      clip-path: polygon(
        23% 19%,
        0 0,
        100% 0,
        100% 100%,
        0 100%,
        29% 79%,
        9% 80%,
        0 33%
      );
    }
  
    &::after {
      position: absolute;
      top: 0;
      left: calc(100% - 1px);
      content: "";
      background: inherit;
      width: 1rem;
      height: 100%;
      clip-path: polygon(
        100% 0,
        74% 28%,
        100% 29%,
        100% 70%,
        84% 78%,
        100% 100%,
        0 100%,
        0 0
      );
    } */
  }

  
  